include README
include LICENSE
include CHANGES
include setup.py
include atp.logrotate

include bin/*
include etc/*
include cron/*

include mysql_schema/db_migrate_schema/*
include mysql_schema/ver_1_20/*
include mysql_schema/db_create/*

include mywlcg-atp/config/*

include apache/*
include mywlcg-atp-api/*
include mywlcg-atp-api/templates/*
include mywlcg-atp-api/templatetags/*
