##############################################################################
#
# NAME:        MANIFEST.in
#
# FACILITY:    SAM (Service Availability Monitoring)
#
# COPYRIGHT:
#         Copyright (c) 2009, Members of the EGEE Collaboration.
#         http://www.eu-egee.org/partners/
#         Licensed under the Apache License, Version 2.0.
#         http://www.apache.org/licenses/LICENSE-2.0
#         This software is provided "as is", without warranties
#         or conditions of any kind, either express or implied.
#
# DESCRIPTION:
#         Manifest file for ATP packages
#
#
# AUTHORS:     David Collados, CERN
#              Joshi Pradyumna, BARC
#
# CREATED:     23-Nov-2009
#
# NOTES:
#
# MODIFIED:
#
##############################################################################

include README
include LICENSE
include CHANGES
include setup.py
include atp.logrotate

include bin/*
include etc/*
include cron/*

include mysql_schema/db_migrate_schema/*
include mysql_schema/ver_1_20/*
include mysql_schema/db_create/*

include mywlcg-atp/config/*

include apache/*
include mywlcg-atp-api/*
include mywlcg-atp-api/templates/*
include mywlcg-atp-api/templatetags/*
